* {
    border: 2px solid black;
}

header {
    display: flex;
    flex-direction: column;
}

header h1,
header h2 {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 0;
}

.row {
    display: flex;
    border-top: 0;
    border-bottom: 0;
}

.square {
    background-color: darkolivegreen;
    height: 36px;
    width: 36px;
    border: 1px solid black;
}

.ship-square {
    background-color: dimgrey;
    height: 36px;
    width: 36px;
    border: 1px solid black;
}

.coord-square {
    text-align: center;
    height: 36px;
    line-height: 36px;
    width: 36px;
    border: 1px solid black;
}

#placement-board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#placement-options {
   width: 180px;
}

.vert-flex-div {
    display: flex;
    flex-direction: column;
}

.horiz-flex-div {
    display: flex;
    flex-direction: row;
}